<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ochrona Projekt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="/static/scripts/afterLog.js"></script>
    <link href="/static/styles/afterLog.css" rel="stylesheet" type="text/css">
</head>

<body class="text-center">
<div class="container">
    <div class="row float-right">
        <a class="btn btn-primary mx-2" href="/list/">Home</a>
        <a class="btn btn-primary mx-2" href="/note/">New note</a>
        <form method="post" action="https://localhost/logout/">
            <input type="submit" class="btn btn-primary mx-2" value="Log out">
        </form>
    </div>
    <div class="row">
        <div class="col align-items-start">
            <div class="container my-2">
                <h3>My notes</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="tbodyMy">

                    </tbody>
                </table>
            </div>

            <div class="container my-2">
                <h3> Public notes</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="tbodyPub">

                    </tbody>
                </table>
            </div>
            <div class="container my-2">
                <h3> My Files</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="tbodyFiles">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col align-items-start">
            <form id="note-form">
                <h3>Preview</h3>
                <input type="text" class="form-control my-3" placeholder="Title" name="title" id="title" disabled>
                <textarea class="form-control my-3" rows="5" minlength="1" maxlength="1000" name="body" disabled
                          id="body"></textarea>
                <input type="password" class="form-control my-3" placeholder="Password" name="password" id="password">
                <input type="submit" id="decryptBtn" class="btn btn-primary my-2" value="Decrypt"><br>
            </form>
            <div class="alert alert-danger" role="alert" id="alert">

            </div>
        </div>
    </div>
</div>

</body>
</html>
